In [1]:
import pandas as pd

In [ ]:
Online Retail.xlsx

In [6]:
!pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.4 MB/s eta 0:00:0000:0100:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [7]:
df = pd.read_excel("Online Retail.xlsx")

In [8]:
df.isna().sum()
df = df.dropna()

In [9]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [29]:
# import plotly.graph_objects as go

# y = df.Country.value_counts()[:10]
# x = df.Country.value_counts().index[:10]
# # Create a bar plot
# fig = go.Figure(data=go.Bar(x=x, y=y))

# # Customize the layout
# fig.update_layout(plot_bgcolor = "white",
#               font = dict(color = "#909497", size = 18),
#               title = dict(text = "Top 10 Country", 
#               font = dict(size = 26)),
#               margin = dict(t = 100, r = 80, b = 80, l = 120),
#               hovermode="closest",
#               height = 1200,
#               width = 1000)


# # Show the plot
# fig.show()

In [33]:
# import plotly.graph_objects as go

# y = df.CustomerID.value_counts().values[:10]
# x = df.CustomerID.value_counts().index[:10]
# # Create a bar plot
# fig = go.Figure(data=go.Bar(x=x, y=y))

# # Customize the layout
# fig.update_layout(plot_bgcolor = "white",
#               font = dict(color = "#909497", size = 18),
#               title = dict(text = "Top 10 Customer", 
#               font = dict(size = 26)),
#               margin = dict(t = 100, r = 80, b = 80, l = 120),
#               hovermode="closest",
#               height = 1200,
#               width = 1000)


# # Show the plot
# fig.show()

In [24]:
### Feature Extruct

In [22]:
df["Total Price"] = df.Quantity * df.UnitPrice

In [28]:
df.CustomerID.value_counts()c

CustomerID
17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
15070.0       1
15753.0       1
17065.0       1
16881.0       1
16995.0       1
Name: count, Length: 4372, dtype: int64

In [ ]:
df